.clear {
    background-color: #dc3545;
    color: white;
}

.clear:active {
    background-color: #c12635;
}

.clear:disabled {
    background-color: #ccc;
    color: #666;

    cursor: not-allowed;
}