.new-task {
    padding: 0.8em;
    border-radius: 0.4em;
    width: fit-content;

    background-color: white;
}

.new-task form {
    display: flex;
    align-items: end;
}

.new-task input {
    display: block;
    box-sizing: border-box;
    margin-top: 0.5rem;
    padding: 0.6rem;
    height: 3rem;
    width: 13rem;
    border: 1px solid #ccc;
    border-radius: 0.3rem;

    font-size: var(--font-size-input);
}

.new-task label {
    margin-right: 1em;

    font-weight: bold;
}

.new-task .btn {
    box-sizing: border-box;

    background-color: #007bff;
    color: white;
}

.new-task .btn:active {
    background-color: #056acf;
}