.status {
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 0.6em;

    text-align: left;
}

.status h3 {
    border-radius: 0.5em;
    width: fit-content;
    margin: 0;
    padding: 0.5em 0.7em;
    background-color: var(--status-bg-color);
    color: var(--status-text-color);
}